{
  "env":                                 {
    "node":                              true,
    "es6":                               true
  },
  "extends":                             "airbnb-base",
  "parserOptions":                       {
    # Override sourceType settings, which is incorrectly set to "module",
    # though that setting is only for ES6 modules, not CommonJS modules.
    "sourceType":                        "script",
  },
  "rules":                               {
    "max-len":                           [
      "error",
      100,
      2,
      {
        "ignoreUrls":                    true,
        "ignoreComments":                true,
        "ignoreRegExpLiterals":          true,
        "ignoreStrings":                 true,
        "ignoreTemplateLiterals":        true,
      }
    ],
    "func-names":                        ["error", "as-needed"],
    "no-underscore-dangle":              ["error", { "enforceInMethodNames": false, "allow": ["_flags"] }],
    "no-unused-vars":                    ["error", ],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
